<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Province</title>
</head>
<body>
<p>
    <a href="/provinces">Back to province list</a>
</p>
<h1>Delete province</h1>
<h3>Are you sure?</h3>
<form th:action="@{/delete-province}" th:object="${province}" method="post">
    <input th:type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${province.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Province"></td>
        </tr>
    </table>
</form>
</body>
</html>
